<%= live_component @socket, LiveViewPhoenixWeb.HeaderComponent, title: "Volunteer Check-In", subtitle: @recent_activity %>
<div id="checkin">
  <div>
    <%= live_component @socket, LiveViewPhoenixWeb.FormVolunteerComponent, id: :new %>
  </div>
  <div >
    <%= for volunteer <- @volunteers do %>
      <%= live_component @socket, LiveViewPhoenixWeb.VolunnterComponent, volunteer: volunteer, id: volunteer.id %>
    <% end %>
  </div>
</div>
